@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.cuerpo{
    background-color: #021827;
}

/*BARRA DE NAVEGACION*/
.navbar{
    background-color: rgb(3, 7, 18);
    height: 80px;
}
.collapse{
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.navbar-brand{
    font-family: "Bungee", serif;
    margin: 0 20px;
    box-shadow: 0,0,6 #ff0000;
}
.nav-link{
    font-family: "Bungee", serif;
}
.color-1{
    color: #00DAA6;
    margin: 0 5px;
}
.navbar-nav{
    margin: 0 20px;
}
.nav-item{
    margin: 0 5px;
}